.socialpostboxsocialpost {
    display: inline;
    text-align: left;
    color: #2d3232;
    font-size: 16px;
    font-weight: 600;
}
.social-post-example {
    background-color: #fffffb;
    border: 2px solid #c8c4c5;
    border-radius: 10px;
    padding: 3px 10px 4px;
    margin: 2px;
}
.social-post-idea {
    background-color: #fffffb;
    border: 2px solid #c8c4c5;
    border-radius: 10px;
    padding: 3px 10px 4px;
    margin: 2px;
}
.post-side-tab:hover {
    color: #423c37;
    background-color: #fffefd;
    cursor: pointer;
}
.post-side-tab-chosen {
    color: #423c37;
    background-color: #fffefd;
    cursor: default;
}
.borders {
    border-top: 1px solid #d7d0cc;
    border-left: 1px solid #d7d0cc;
    border-bottom: 1px solid #d7d0cc;
}