@mixin ButtonDark {
  border-radius: 4px;
  border: none;
  color: white;
  background-color: $smodin-dark-purple;
  font-weight: 600;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 8px;
  padding: 5px;
  cursor: pointer;
}