$smodin-red: #ff3d46;
$smodin-black: #423c37;
$smodin-blue-gray: #f9f9f8;
$smodin-gray: #d7d0cc;
$smodin-purple: #867ba4;
$smodin-bg-gray: rgb(239, 236, 237);
$smodin-dark-blue: #64b9df;
$smodin-green: #40a245;
$smodin-white: #fffefd;
$smodin-light-purple: #e0b8d3;
$smodin-red-orange: #ff3d46;
$smodin-orange: #ff6600;