$smodin-red: #ff3d46;
$smodin-black: #423c37;
$smodin-blue-gray: #f9f9f8;
$smodin-gray: #d7d0cc;
$smodin-purple: #7B1FA2;
$smodin-bg-gray: rgb(239, 236, 237);
$smodin-dark-blue: #64b9df;
$smodin-green: #40a245;
$smodin-white: #fffefd;
$smodin-dark-purple: #512DA8; /*deepPurple700*/
$smodin-light-purple: #D1C4E9;/*deepPurple100*/
$smodin-red-orange: #ff3d46;
$smodin-orange: #ff6600;
$smodin-light-gray: lightgray;