#horizontalheader {
    background-color: #c5b6ec;
    z-index: 1000;
    box-shadow: 0px 3px 3px rgba(125, 125, 125, 0.67);
    height: 55px;
    border-bottom: 2px solid;
    border-color: #867ba4;
}
.fslg {
    font-size: 30px;
}