.console-ribbon-design {
    background-color: #fffefd;
    border-left: 2px solid #d7d0cc;
    border-bottom: 2px solid #d7d0cc;
    border-radius: 0px 0px 0px 10px;
}
.secondmenutab-r {
    border-radius: 0px 0px 10px 0px;
    border-right: 2px solid #d7d0cc;
    border-bottom: 2px solid #d7d0cc;
}
.secondmenutab-l {
    border-radius: 0px 0px 0px 10px;
    border-left: 2px solid #d7d0cc;
    border-bottom: 2px solid #d7d0cc;
}

/**** CONSOLE RIBBON ****/
.scheduletypebutton-chosen {
    background-color: #ff3d46;
    color: white;
    cursor: default;
}
.scheduletypebutton {
    background-color: #cccccc;
    color: #777
}
.scheduletypebutton:hover {
    background-color: #ff3d46;
    color: white;
    cursor: pointer;
}
.scheduletypebuttonleft {
    border-radius: 15px 0px 0px 15px;
}
.scheduletypebuttonright {
    border-radius: 0px 15px 15px 0px;
}
.tab-on {
    padding: 5px 10px 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(246,246,239);
    font-weight: 600;
}
.tab-off {
    padding: 5px 10px 20px;
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
    cursor: pointer;
}
.tab-off:hover {
    padding: 5px 10px 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(246,246,239);
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.c-ribbon {
    background-color: #fffefd;
    border-left: 2px solid #d7d0cc;
    border-bottom: 2px solid #d7d0cc;
    border-radius: 0px 0px 0px 10px;
    margin-bottom: 5px;
    padding: 3px;
    &_parameters {

    }
    &_posts {

    }
    &_schedules {

    }
    &_queue {

    }
}

/* CONSOLE TABS */
#console {
    .settings-page {
        color: $smodin-dark-purple;

        .field {
            padding: 10px 20px;
        }
        .platform-tabs {
            background-color: white;
            padding: 0;
            margin: 0;
            margin-top: 20px;
            box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
            &-content {
                padding: 8px;
            }
            &-field{
                color: $smodin-dark-purple;
            }
        }
        .delete-btn {
            margin: 40px auto 20px;
            display: flex;
            justify-content: center;
        }
    }
}

