/*
 * ALL ABREVIATED WITH PAR FOR PARAMETERS
 */

.par-wrapper {
  margin: 2px 4px;
  font-size: 14px;
  line-height: 15px;
}
.par-highlight {
  padding: 0 4px 2px;
  border-radius: 12px;
  display: inline-flex;
  position: relative;
  font-family: "Segoe UI", sans-serif;
  flex-wrap: wrap;
  .par-tooltip {
    visibility: hidden;
    background-color: $smodin-gray;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    left: 50%;
    bottom: -16px;
    z-index: 1;
  }
  &:hover .par-tooltip {
    visibility: visible;
    transform-origin: center top;
  }
  &-missing {
    background-color: $smodin-gray;
    color: $smodin-dark-gray;
    &:hover {
      background-color: $smodin-light-red;
    }
  }
  &-present {
    background-color: $smodin-light-purple;
    color: $smodin-black;
    &:hover {
      background-color: $smodin-light-red;
    }
  }
  &-static {
    background-color: $smodin-light-purple;
    color: $smodin-black;
  }
}
/**** PARAMETERS ****/


/**** PARAMETERBOX ****/

.borders {
  border-top: 1px solid #d7d0cc;
  border-left: 1px solid #d7d0cc;
  border-bottom: 1px solid #d7d0cc;
}

#parameters-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .parameters-table {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    .parameter-row {
      display: flex;
      align-items: center;
      padding: 2px;
      border-bottom: 1px solid $smodin-gray;
      text-align: center;
      .param-number {
        flex: 1;
      }
      .param-parameter {
        font-size: 16px;
        flex: 8;
        .param-text {
          text-wrap: none;
          background-color: rgb(193, 174, 186);
          color: #ffffff;
          font-weight: 500;
          padding: 4px 6px 6px;
          border-radius: 12px;
          border: none;
        }
        input {
          background-color: rgb(238, 218, 231);
          color: #3a3a3a;
          width: 200px;
          font-weight: 600;
          padding: 1px 6px 2px;
          border-radius: 12px;
          border: 2px solid rgba(0,0,0,0.1);
          outline: none;
          -webkit-appearance: none;
        }
      }
      .param-response {
        font-size: 14px;
        font-weight: 400;
        flex: 10;
        display: flex;
        justify-content: stretch;
        textarea {
          width: 100%;
          padding: 4px;
          border-radius: 6px;
          border: 2px solid rgba(0,0,0,0.4);
        }
      }
      .param-options {
        flex: 4;
        min-width: 40px;
      }
    }
  }
  .parameters-header{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: $smodin-light-purple;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    border-bottom: 1px solid $smodin-dark-purple;
    text-align: center;
    .param-number {
      flex: 1;
    }
    .param-parameter {
      flex: 8;
    }
    .param-response {
      flex: 10;
    }
    .param-options {
      flex: 4;
      min-width: 40px;
    }
  }
  .bottom-ribbon {
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: $smodin-light-purple;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.12);
    border-top: 1px solid $smodin-dark-purple;
    .new-parameter {
      display: flex;
      align-items: center;
      input {
        padding: 5px;
        margin: 0 8px;
        flex: 1;
        border: 1px solid $smodin-dark-gray;
        border-radius: 5px;
      }
      button {
        border-radius: 4px;
        border: none;
        color: white;
        background-color: $smodin-dark-purple;
        font-weight: 600;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 0 8px;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}