.scheduletypebutton-chosen {
    background-color: #ff3d46;
    color: white;
    cursor: default;
}
.scheduletypebutton {
    background-color: #cccccc;
    color: #777
}
.scheduletypebutton:hover {
    background-color: #ff3d46;
    color: white;
    cursor: pointer;
}
.scheduletypebuttonleft {
    border-radius: 15px 0px 0px 15px;
}
.scheduletypebuttonright {
    border-radius: 0px 15px 15px 0px;
}