/*
 * ALL ABREVIATED WITH P FOR (SOCIAL) POST
 */
/*** SOCIAL POST BOX ****/
.socialpostboxsocialpost {
  display: inline;
  text-align: left;
  color: #2d3232;
  font-size: 16px;
  font-weight: 600;
}
.p-box {
  font-size: 14px;
  &-example {
    background-color: #fffffb;
    border: 2px solid #c8c4c5;
    border-radius: 10px;
    padding: 3px 10px 4px;
    margin: 2px;
  }
  &-idea {
    background-color: #fffffb;
    border: 2px solid #c8c4c5;
    border-radius: 10px;
    padding: 3px 10px 4px;
    margin: 2px;
  }
}

.post-side-tab:hover {
  color: #423c37;
  background-color: #fffefd;
  cursor: pointer;
}
.post-side-tab-chosen {
  color: #423c37;
  background-color: #fffefd;
  cursor: default;
}
.borders {
  border-top: 1px solid #d7d0cc;
  border-left: 1px solid #d7d0cc;
  border-bottom: 1px solid #d7d0cc;
}

/**** SOCIAL POST ****/

.socialpostbox {
  background-color: #fffffb;
  border: 2px solid #c8c4c5;
  border-radius: 30px;
  flex: 1 0 auto;
  margin: 1px 15px 0 15px;
  overflow: hidden;
}
.socialpostboxtop {
  background-color: #ffe5ec;
  border-bottom: 2px solid #dbd7d8;
  border-radius: 30px 30px 0 0;
  display: flex;
  width: 100%;
}
.socialpostboxresponse {
  width: 100%;
  background-color: #cccccc;
  word-wrap: break-word;
  border: none;
  padding: 4px;
  resize: none;
}

.socialpostboxresponse:focus {
  background-color: #ffffff;
}
.socialpostboxdeletebutton:hover {
  background-color: #ecded5;
  color: #5c5c5c;
  cursor: pointer;
}
.socialpostboxdeletebutton {
  background-color: rgb(147, 146, 148);
  color: #000000;
  font-weight: 600;
  border-radius: 0 30px 0 0;
  border-left: 2px solid #dbd7d8;
  border-bottom: 2px solid #dbd7d8;
  padding: 0 4px;
  height: 35px;
  width: 40px;
  min-width: 40px;
  display: flex;
}

#social-post-page {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .post-column {
    width: 100%;
    height: 100%;
    position: relative;
    .posts {
      height: calc(100% - 40px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    .new-post {
      height: 40px;
      display: flex;
      align-items: center;
      background-color: $smodin-light-purple;
      box-shadow: 0 -5px 10px rgba(0,0,0,0.12);
      border-top: 1px solid $smodin-dark-purple;
      input {
        padding: 5px;
        margin: 0 8px;
        flex: 1;
        border: 1px solid $smodin-dark-gray;
        border-radius: 5px;
      }
      button {
        border-radius: 4px;
        border: none;
        color: white;
        background-color: $smodin-dark-purple;
        font-weight: 600;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        margin: 0 8px;
        padding: 5px;
        cursor: pointer;
      }
    }
    .social-post {
      background-color: $smodin-white;
      border: 2px solid $smodin-gray;
      border-radius: 4px;
      margin: 2px 4px;
      overflow: hidden;
      font-size: 16px;
      .post-top {
        display: flex;
        padding: 4px;
      }
      .post-bottom {
        font-size: 16px;
        background-color: $smodin-blue-gray;
        padding: 1px 0 2px;
        color: $smodin-dark-gray;
        white-space: nowrap;
        border-top: 1px solid $smodin-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .p-item {
          display: inline-flex;
          align-items: center;
          &-url{
            justify-content: start;
            margin-left: 4px;
            @include break(lg) {
              flex: 1;
            }
            i {
              padding: 0 2px;
              margin-right: 4px;
            }
            span {
              display: none;
              @include break(lg) {
                display: block;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          &-img-url{
            justify-content: start;
            @include break(lg) {
              flex: 1;
            }
            i {
              padding: 0 2px;
              margin-right: 4px;
            }
            span {
              display: none;
              @include break(lg) {
                display: block;
                font-size: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          &-date{
            justify-content: start;
            display: none;
            padding-right: 8px;
            i {
              padding: 0 2px;
              margin-right: 4px;
            }
            @include break(lg) {
              display: block;
            }
          }
          &-icons{
            justify-content: end;
            padding-left: 8px;
          }
        }
      }
    }
  }
  .right-post-column {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 350px;
    overflow: hidden;
    background-color: $smodin-black;
    .post-ribbon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 3rem;
      padding: 8px;
      overflow: hidden;
      background-color: $smodin-light-purple;
      border-bottom: 1px solid $smodin-dark-purple;
      input {
        padding: 5px;
        margin: 0 8px;
        flex: 1;
        border: 1px solid $smodin-dark-gray;
        border-radius: 5px;
      }
      button {
        border-radius: 4px;
        border: none;
        color: white;
        background-color: $smodin-dark-purple;
        font-weight: 600;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 0 8px;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}