/*
 * ALL ABREVIATED WITH SP FOR SOCIAL PROFILE
 */
.sp {
  &-menu {
    &-col-1{
      overflow: hidden;
      width: 55px;
      background-color: #423c37; /*bg-smodin-black*/
      &-box {
        height: 55px;
        width: 100%;
        background-color: lightgray;
        padding: 5px 10px;
        &-active {
          height: 55px;
          width: 100%;
          padding: 5px 10px 5px 7px;
          border-left: 4px solid #64b9df; /*bg-smodin-dark-blue*/
          background-color: rgb(239, 236, 237); /*smodin gray color*/
        }
        &:hover {
          background-color: lightgray;
          cursor: pointer;
        }
        &-icon{
          height: 40px !important;
          width: 40px !important;
          border-radius: 5px;
          fill: blue !important;
        }
      }
    }
    &-col-2 {
      max-width: 200px;
      padding-right: 5px;
      h2 {
        font-size: 25px;
        color: $smodin-black;
        margin: 4px;
      }
      hr {
        padding: 0;
        margin: 10px 0;
        background-color: $smodin-dark-purple;
      }
      .add-profile {
        padding: 6px 8px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid $smodin-light-purple;
        color: $smodin-purple
      }
      .add-profile:hover {
        color: white;
        background-color: $smodin-purple;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        cursor: pointer;
        text-decoration: none;
        border: none;
        transition: all 0.2ms;
      }
      //h2:after {
      //  bottom: 0;
      //  content: "";
      //  background: linear-gradient(to right, $smodin-purple 50%, rgba(255,255,255,0));
      //  display: block;
      //  border-radius: 1px;
      //  height: 3px;
      //  position: relative;
      //  width: 90%;
      //}
    }
  }
}
.sideNavBar {
  z-index: 100;
  width: 100px;
  height: 100%;
  position: relative;
  margin-left: 50px;
  margin-bottom: 0px;
  overflow: hidden;
}