/*
 * ALL ABREVIATED WITH SP FOR SOCIAL PROFILE
 */
.box40 {
  width: 40px;
  height: 40px
}
.sideNavBar {
  z-index: 100;
  width: 100px;
  height: 100%;
  position: relative;
  margin-left: 50px;
  margin-bottom: 0px;
  overflow: hidden;
}
.w4p {
  width: 4px;
  margin-right: 1px;
}